<%- include ../layouts/_toppage.ejs %>
    <section class="container profile">
        <ul id="messages"></ul>
        <form id="messageInput" action="" >
            <input id="m" autofocus autocomplete="off" /><button>Send</button>
          </form>
    </section>
    <%- include ../layouts/_bottompage.ejs %>