<!DOCTYPE html>
<html lang="en">

<%- include ../partials/head.ejs %>

    <body>
        <%- include ../partials/header.ejs %>
            <main class="chat">
    <section class="container profile">
        <ul id="messages"></ul>
        <form id="messageInput" action="" >
            <input id="m" autofocus autocomplete="off" /><button>Send</button>
          </form>
    </section>
    <section class="container music-player">

    </section>
    <%- include ../layouts/_bottompage.ejs %>